// Повторювальний блок контактів
.contact-screen(id="contact-screen")
  .contact-screen__content
    .contact-screen__info
      .contact-screen__info-bg
        img(src="./assets/images/contact-screen-bg.jpg", alt="", srcset="" loading="lazy")
      .contact-screen__title.text-style-1920-h-1(data-split-lines) Контакти
      .contact-screen__info-wrap
        .contact-screen__info-group.contact-screen__info-group--first.contact-screen__info-group--column
          div.text-style-1920-body-titles.text-color-body-description Наша адреса:
          div Львів, вул. Угорська 12 (перехрестя з вул. Віденською)
          a(href="https://maps.app.goo.gl/cqN5DbY8S4YhWkgH8" target='_blank').button-main 
            span ПРОКЛАСТИ МАРШРУТ
        .contact-screen__info-group.contact-screen__info-group--socials
          div.text-style-1920-body-titles.text-color-body-description Соц мережі:
          a(target="_blank" href="https://www.facebook.com/sofiivkalviv").social-icon
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5395 2.65667H12V0.112667C11.748 0.078 10.8814 0 9.87218 0C7.76635 0 6.32381 1.32467 6.32381 3.75933V6H4V8.844H6.32381V16H9.1729V8.84467H11.4027L11.7567 6.00067H9.17224V4.04133C9.1729 3.21933 9.39422 2.65667 10.5395 2.65667Z" fill="white"/>
            </svg>
          a(target="_blank" href="https://www.instagram.com/sofiivka/").social-icon
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.09006 0.708005C5.8468 0.674771 6.09096 0.666504 8.00233 0.666504C9.9132 0.666504 10.1582 0.674762 10.9179 0.71082C11.6941 0.745079 12.2374 0.871563 12.718 1.0572C13.2249 1.24817 13.6866 1.549 14.0681 1.93575L14.066 1.9337L13.8554 2.14926L14.0702 1.93781L14.0681 1.93575C14.4587 2.31793 14.7567 2.77718 14.9503 3.28866C15.1363 3.76729 15.2627 4.31355 15.2969 5.08945C15.3302 5.84694 15.3329 6.09212 15.3329 8.00123C15.3329 9.91226 15.3247 10.1564 15.2914 10.913C15.2572 11.69 15.1303 12.2336 14.9445 12.7145C14.5484 13.7387 13.7385 14.5486 12.7141 14.9447C12.2352 15.1309 11.6886 15.2574 10.912 15.2917C10.1552 15.325 9.91098 15.3332 7.99965 15.3332C6.08832 15.3332 5.84401 15.325 5.08733 15.2917C4.31081 15.2574 3.76749 15.1309 3.2867 14.9453C2.77958 14.7542 2.31771 14.4533 1.93614 14.0663L1.9378 14.0679L2.14929 13.8532L1.93451 14.0647L1.93614 14.0663C1.54937 13.6851 1.24844 13.2263 1.05452 12.7138C0.868533 12.2352 0.741988 11.689 0.707771 10.913C0.67453 10.1564 0.66626 9.91226 0.66626 8.00123C0.66626 6.09072 0.67452 5.84578 0.710584 5.08615C0.74485 4.31012 0.871366 3.76702 1.05703 3.28641C1.24812 2.77964 1.54887 2.31801 1.93572 1.93656L1.93369 1.93865L2.14929 2.14926L1.9378 1.93452L1.93572 1.93656C2.31798 1.54601 2.77733 1.24809 3.28902 1.05457C3.76759 0.86874 4.31398 0.742217 5.09006 0.708005ZM7.99932 4.52612C6.08159 4.52612 4.52563 6.08198 4.52563 7.99981C4.52563 9.91764 6.08159 11.4735 7.99932 11.4735C9.91715 11.4735 11.473 9.91764 11.473 7.99981C11.473 6.08198 9.91715 4.52612 7.99932 4.52612ZM12.2452 2.21037C11.3927 2.21037 10.7014 2.90146 10.7014 3.75423C10.7014 4.60682 11.3927 5.29809 12.2452 5.29809C13.0979 5.29809 13.7891 4.60685 13.7891 3.75423C13.7891 2.90142 13.0978 2.21037 12.2452 2.21037Z" fill="white"/>
            </svg>
          a(target="_blank" href="viber://chat?number=+380962777333").social-icon
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.8042 1.57045C11.4786 1.26927 10.1763 0.27714 7.24611 0.259423C7.24611 0.259423 3.80185 0.0468217 2.12257 1.64131C1.18011 2.61573 0.854529 4.01534 0.820258 5.76928C0.785986 7.52322 0.734584 10.8008 3.80186 11.7043V13.0685C3.80186 13.0685 3.78472 13.6177 4.12743 13.724C4.55582 13.8658 4.79572 13.4406 5.20697 12.9976C5.42974 12.7496 5.73818 12.3953 5.96094 12.1118C8.05149 12.289 9.66223 11.8815 9.85073 11.8106C10.2791 11.6689 12.661 11.35 13.0551 8.07244C13.4663 4.67085 12.8837 2.52714 11.8042 1.57045ZM12.164 7.80669C11.8385 10.5528 9.90213 10.7299 9.54229 10.8362C9.38807 10.8894 7.98295 11.2437 6.20084 11.1374C6.20084 11.1374 4.8814 12.785 4.45301 13.228C4.38447 13.2988 4.31592 13.3165 4.26452 13.3165C4.19597 13.2988 4.17884 13.2102 4.17884 13.0862C4.17884 12.9091 4.19598 10.8185 4.19598 10.8185C1.6085 10.0744 1.76272 7.27519 1.77985 5.80471C1.81412 4.33423 2.07116 3.14722 2.8594 2.33226C4.28166 1.00352 7.21184 1.1984 7.21184 1.1984C9.67937 1.21612 10.8617 1.97793 11.1359 2.24368C12.0269 3.05864 12.4896 4.98975 12.164 7.80669Z" fill="#EFF0F7"/>
              <path d="M8.44527 5.6978C8.41101 5.02455 8.08553 4.6702 7.45169 4.63477" stroke="#EFF0F7" stroke-width="0.5625" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.30249 5.98168C9.31962 5.36157 9.13113 4.83006 8.77127 4.42256C8.39427 3.99734 7.88018 3.76702 7.229 3.71387" stroke="#EFF0F7" stroke-width="0.5625" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10.1592 6.336C10.1592 5.25525 9.83365 4.40482 9.21675 3.78472C8.59984 3.16461 7.82871 2.8457 6.90335 2.8457" stroke="#EFF0F7" stroke-width="0.5625" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.48601 7.98333C7.48601 7.98333 7.7259 8.00104 7.84585 7.84159L8.08576 7.5227C8.2057 7.36325 8.47987 7.25695 8.77118 7.4164C8.9254 7.50498 9.19957 7.68214 9.37093 7.82388C9.55942 7.96561 9.9364 8.28451 9.9364 8.28451C10.1249 8.44396 10.1592 8.67428 10.0392 8.92231C9.91926 9.15262 9.74791 9.36522 9.52515 9.56011C9.35379 9.71955 9.18243 9.79042 9.01108 9.82585H8.94254C8.87399 9.82585 8.78831 9.80814 8.71977 9.79042C8.46274 9.71955 8.03435 9.52467 7.29752 9.11719C6.83486 8.85144 6.44074 8.56798 6.11516 8.30223C5.9438 8.16049 5.75531 8.00105 5.58396 7.80616L5.51541 7.73529C5.32692 7.54041 5.1727 7.36325 5.03561 7.18608C4.77858 6.84947 4.50441 6.44198 4.24738 5.96364C3.85326 5.21954 3.66477 4.77663 3.59622 4.49316C3.57909 4.4223 3.56195 4.35143 3.56195 4.26285V4.19198C3.57909 4.01481 3.66476 3.83765 3.81898 3.66048C4.00748 3.44788 4.2131 3.27072 4.43587 3.12898C4.67577 3.00497 4.89853 3.0404 5.05275 3.23528C5.05275 3.23528 5.36119 3.62505 5.49828 3.81993C5.61823 3.9971 5.78958 4.28057 5.89239 4.44001C6.04661 4.72348 5.9438 5.02466 5.80672 5.14868L5.49828 5.39671C5.34406 5.52072 5.36119 5.76876 5.36119 5.76876C5.36119 5.76876 5.78958 7.5227 7.48601 7.98333Z" fill="#EFF0F7"/>
            </svg>
          a(target="_blank" href="tg://resolve?domain=Sofiivka").social-icon
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.54729 8.61055L5.32397 11.4374C5.64348 11.4374 5.78186 11.3139 5.9478 11.1656L7.44577 9.87718L10.5497 11.9229C11.119 12.2085 11.5201 12.0581 11.6736 11.4516L13.711 2.85958L13.7116 2.85908C13.8922 2.10173 13.4073 1.80557 12.8527 1.99137L0.87674 6.11779C0.059408 6.40331 0.0717832 6.81337 0.737799 6.99917L3.79956 7.85624L10.9114 3.85132C11.2461 3.65186 11.5504 3.76222 11.3001 3.96168L5.54729 8.61055Z" fill="#EFF0F7"/>
            </svg>
          a(target="_blank" href="whatsapp://send?phone=+380962777333").social-icon
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.97839 11.6087L4.18249 11.7292C5.04009 12.2359 6.02333 12.5038 7.026 12.5044H7.02819C10.1075 12.5044 12.6137 10.0099 12.6149 6.9441C12.6153 5.45829 12.0348 4.06136 10.98 3.0103C9.92516 1.95944 8.52266 1.3803 7.03018 1.37968C3.94855 1.37968 1.44235 3.87375 1.44119 6.93955C1.44078 7.99013 1.73599 9.01331 2.29531 9.89849L2.42825 10.1089L1.86374 12.1607L3.97839 11.6087ZM0.25 13.75L1.20357 10.2836C0.615399 9.26904 0.305975 8.11818 0.30646 6.93924C0.307894 3.25079 3.323 0.25 7.02833 0.25C8.82631 0.250772 10.5139 0.947413 11.783 2.21189C13.052 3.47634 13.7506 5.15713 13.75 6.94464C13.7484 10.6329 10.7327 13.6343 7.02833 13.6343C7.02805 13.6343 7.02846 13.6343 7.02833 13.6343H7.02546C5.90053 13.6339 4.79517 13.353 3.81342 12.8199L0.25 13.75Z" fill="#EFF0F7"/>
              <path d="M0.30646 6.93944C0.306053 8.11837 0.615479 9.26936 1.20366 10.2838L0.25 13.75L3.81334 12.8199C4.79515 13.3529 5.90046 13.6338 7.0254 13.6342H7.02827C10.7327 13.6342 13.7485 10.6329 13.75 6.94463C13.7506 5.15702 13.052 3.47628 11.783 2.21188C10.5138 0.947491 8.82631 0.250772 7.02827 0.25C3.3231 0.25 0.307897 3.25079 0.306347 6.93923M2.42835 10.109L2.29533 9.89866C1.736 9.01338 1.4408 7.99021 1.4412 6.93973C1.44242 3.87413 3.94858 1.37987 7.03024 1.37987C8.52258 1.38045 9.92513 1.95964 10.9801 3.01049C12.035 4.06141 12.6154 5.45845 12.615 6.94409C12.6137 10.0099 10.1075 12.5043 7.02813 12.5043H7.02595C6.02329 12.5038 5.03996 12.2358 4.1824 11.7292L3.9783 11.6088L1.86367 12.1607L2.42835 10.109ZM7.02827 13.6342H7.02834H7.02827C7.0282 13.6342 7.02813 13.6342 7.02827 13.6342Z" fill="#EFF0F7"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.34114 3.93859C5.21671 3.64037 5.08579 3.6344 4.96744 3.62916C4.87059 3.62471 4.75981 3.625 4.64917 3.625C4.53839 3.625 4.35847 3.66982 4.20633 3.84902C4.05405 4.02822 3.625 4.46141 3.625 5.34241C3.625 6.2235 4.2202 7.07484 4.30312 7.19443C4.38618 7.3138 5.45207 9.17961 7.14001 9.89733C8.54296 10.4938 8.82845 10.3752 9.13294 10.3453C9.43744 10.3155 10.1156 9.91226 10.2539 9.4941C10.3923 9.076 10.3923 8.71761 10.3508 8.64276C10.3093 8.56814 10.1985 8.52332 10.0325 8.43383C9.86635 8.34426 9.04987 7.91102 8.89767 7.85125C8.74539 7.79156 8.63467 7.76176 8.52389 7.94103C8.41318 8.12009 8.09511 8.52332 7.99818 8.64277C7.90133 8.76243 7.80441 8.77737 7.63834 8.68781C7.4722 8.59795 6.9373 8.40904 6.30277 7.79907C5.80904 7.32443 5.47575 6.73828 5.37882 6.55899C5.28197 6.37993 5.36848 6.28294 5.45175 6.19365C5.52637 6.11342 5.61789 5.98457 5.70096 5.88006C5.78382 5.77549 5.81146 5.70086 5.86682 5.58141C5.92224 5.46189 5.89453 5.35731 5.85303 5.26774C5.81146 5.17817 5.48872 4.29264 5.34104 3.93854" fill="#EFF0F7"/>
            </svg>


        .contact-screen__info-group.contact-screen__info-group--column
          div.text-style-1920-body-titles.text-color-body-description Відділ продажів:
          div
            a(href="tel:+380322777333").contact-screen__phone-link +38 (032) 2777 333
            a(href="tel:+380962777333").contact-screen__phone-link +38 (096) 2777 333
        .contact-screen__info-group.contact-screen__info-group--column
          div.text-style-1920-body-titles.text-color-body-description Графік роботи:
          div пн.- пт.  09:00 -18:00
      .text-color-body-description © 2025 ЖК “Софіївка”. Усі права захищено.
    .contact-screen__form
      form.contact-screen-form(data-contact-screen-form)
        .contact-screen-form__group(data-status="field--inactive" data-field-input="data-field-input" data-field-name="data-field-name")
          .contact-screen-form__group-message(data-input-message="data-input-message")
          .contact-screen-form__group-title Ім'я:
          input.contact-screen-form__input(type="text" placeholder="Введіть ваше імʼя" name="name")
        .contact-screen-form__group(data-status="field--inactive" data-field-input="data-field-input" data-lenis-prevent  data-field-phone="data-field-phone")
          .contact-screen-form__group-message(data-input-message="data-input-message")
          .contact-screen-form__group-title Телефон:
          input.contact-screen-form__input(type="tel" placeholder="Телефон" name="phone")
        .contact-screen-form__group
          .contact-screen-form__group-title Коментар:
          textarea.contact-screen-form__input(type="text" placeholder="Введіть коментар" name="message")
        button(type="submit" data-btn-submit="data-btn-submit").contact-screen-form__button
          span(data-btn-submit-text) НАДІСЛАТИ ПОВІДОМЛЕННЯ
      .contact-screen__form-footer.text-color-body-description.hide-on-desktop © 2025 ЖК “Софіївка”. Усі права захищено.
  .up-arrow.text-style-1920-button.text-color-black(data-up-arrow)
    span Вгору
    .up-arrow__icon
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 6.34471L3.5 3.67235L6 1M6 1L11 6.34471M6 1C6 4.16724 6 8.30785 6 11" stroke="#1A1A1D" stroke-width="0.9" stroke-linecap="square"/>
      </svg>

// Повторювальний блок контактів END