.infrastructure-info-block
  .infrastructure-info-block__content
    .infrastructure-info-block__left
      .infrastructure-info-block__title.text-style-1920-h-2 БЕЗПЕКА 24/7
      .infrastructure-info-block__subtitle.text-style-1920-h-4 Придбавши квартиру у житловому комплексі RIVERVILLE, ви будете впевнені у власній безпеці та приватності
      <svg width="213" height="65" viewBox="0 0 213 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.2549 24.9683L70.41 65L108.762 24.9683L146.917 65L185.269 24.9683L213 54.0635V29.3016L185.269 0L146.917 40.2381L108.762 0L70.41 40.2381L32.2549 0L0 33.8413V58.8095L32.2549 24.9683Z" fill="white"/>
      </svg>
    .infrastructure-info-block__right
      .infrastructure-info-block__title.text-style-1920-h-2 Забудовник подбав про:
      .infrastructure-info-block__item
        .infrastructure-info-block__item-img-wrap
          .infrastructure-info-block__item-img
            img(src="./assets/images/infrastructure/info-block/Image.jpg" alt=""  loading="lazy")
        .infrastructure-info-block__item-text1.text-style-1920-h-2 01
        .infrastructure-info-block__item-text2.text-style-1920-h-4 Закриту територію комплексу із пропускною системою
      .infrastructure-info-block__item
        .infrastructure-info-block__item-img-wrap
          .infrastructure-info-block__item-img
            img(src="./assets/images/infrastructure/info-block/Image-1.jpg" alt=""  loading="lazy")
        .infrastructure-info-block__item-text1.text-style-1920-h-2 02
        .infrastructure-info-block__item-text2.text-style-1920-h-4 Цілодобове відеоспостереження
      .infrastructure-info-block__item
        .infrastructure-info-block__item-img-wrap
          .infrastructure-info-block__item-img
            img(src="./assets/images/infrastructure/info-block/Image-2.jpg" alt=""  loading="lazy")
        .infrastructure-info-block__item-text1.text-style-1920-h-2 03
        .infrastructure-info-block__item-text2.text-style-1920-h-4 Охорону території 24/7