
extends ../layout/main
block variable
  -
    var title_page = 'ЗАБУДОВНИК'
    var id_page = 'id-page-developer'
    var class_page = 'class-page-developer'
    var breadcrumbsSubitem = [
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/developer.bundle.js')
block content
  .inner-page-head
    include ../includes/breadcrumbs.pug
    <svg class="inner-page-head__decor" preserveAspectRatio="xMidYMid slice" width="1920" height="141" viewBox="0 0 1920 141" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M72.687 54.116L158.67 140.881L245.097 54.116L331.08 140.881L417.507 54.116L480 117.177V63.508L417.507 0L331.08 87.2117L245.097 0L158.67 87.2117L72.687 0L0 73.3473V127.463L72.687 54.116Z" fill="white"/>
      <path d="M887.313 54.116L801.33 140.881L714.903 54.116L628.92 140.881L542.493 54.116L480 117.177V63.508L542.493 0L628.92 87.2117L714.903 0L801.33 87.2117L887.313 0L960 73.3473V127.463L887.313 54.116Z" fill="white"/>
      <path d="M1032.69 54.116L1118.67 140.881L1205.1 54.116L1291.08 140.881L1377.51 54.116L1440 117.177V63.508L1377.51 0L1291.08 87.2117L1205.1 0L1118.67 87.2117L1032.69 0L960 73.3473V127.463L1032.69 54.116Z" fill="white"/>
      <path d="M1847.31 54.116L1761.33 140.881L1674.9 54.116L1588.92 140.881L1502.49 54.116L1440 117.177V63.508L1502.49 0L1588.92 87.2117L1674.9 0L1761.33 87.2117L1847.31 0L1920 73.3473V127.463L1847.31 54.116Z" fill="white"/>
    </svg>
    .inner-page-head__title ЗАБУДОВНИК
  .developer-block.section-bottom-margin
    .developer-block__top-wrapper
      .developer-block__top-text
        .text-style-1920-h-4(data-split-lines-and-fade-up) Забудовник проєкту - девелопер «Срібна долина»
        .text-style-1920-body(data-split-lines-and-fade-up) Це амбітна, надійна та відповідальна команда справжніх професіоналів, тож Срібна Долина прагне стати лідером на ринку житлової нерухомості України
      .developer-block__card
        <svg width="227" height="60" viewBox="0 0 227 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.97879 38.8756C17.7998 29.3288 32.0397 23.3886 45.8607 21.0549C70.7804 17.024 88.9991 27.6316 108.474 38.6635C128.996 50.5439 152.45 64.1216 184.699 58.8178C198.101 56.6963 209.619 51.8168 219.88 44.1794L227 39.5121V15.7511L208.781 27.6316L208.153 28.0559C200.405 33.784 191.819 37.3906 181.558 39.0878C156.22 43.1186 137.792 32.5111 118.316 21.267C97.7943 9.38657 74.7592 -3.97895 42.7196 1.11268C28.2703 3.44635 14.0304 8.96228 0 17.4483V41.4214L3.76938 39.0878L3.97879 38.8756Z" fill="#EFF3F7"/>
        </svg>
        .text-style-1920-h-4(data-split-lines-and-fade-up) Експерти у будівництві
        .text-style-1920-body(data-split-lines-and-fade-up) Ми залучили до роботи над проєктом найкращих висококваліфікованих фахівців із міжнародною сертифікацією, які мають визначні досягнення у галузі будівництва
      .developer-block__img-wrapper
        .developer-block__img
          <svg preserveAspectRatio="xMidYMax meet" width="1011" height="506" viewBox="0 0 1011 506" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1011 505.5C1011 371.433 957.742 242.857 862.943 148.058C768.143 53.2579 639.567 1.01218e-05 505.5 0C371.433 -1.01218e-05 242.857 53.2579 148.058 148.057C53.2579 242.857 2.02435e-05 371.433 0 505.5L505.5 505.5H1011Z" fill="#B1C6C9"/>
          </svg>
          img(src="./assets/images/developer/developer-people.png", alt="", srcset=""  loading="lazy")
      .developer-block__card
        <svg width="227" height="60" viewBox="0 0 227 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.97879 38.8756C17.7998 29.3288 32.0397 23.3886 45.8607 21.0549C70.7804 17.024 88.9991 27.6316 108.474 38.6635C128.996 50.5439 152.45 64.1216 184.699 58.8178C198.101 56.6963 209.619 51.8168 219.88 44.1794L227 39.5121V15.7511L208.781 27.6316L208.153 28.0559C200.405 33.784 191.819 37.3906 181.558 39.0878C156.22 43.1186 137.792 32.5111 118.316 21.267C97.7943 9.38657 74.7592 -3.97895 42.7196 1.11268C28.2703 3.44635 14.0304 8.96228 0 17.4483V41.4214L3.76938 39.0878L3.97879 38.8756Z" fill="#EFF3F7"/>
        </svg>
        .text-style-1920-h-4(data-split-lines-and-fade-up) Команда лідерів ринку
        .text-style-1920-body(data-split-lines-and-fade-up) Кожен з членів нашої команди понад 10 років на різних етапах співпрацював із провідними забудовниками України та має у професійному портфелі десятки успішно реалізованих проєктів
    .developer-block__bottom-wrapper
      <svg class="developer-block__wave-svg show-on-desktop" xmlns="http://www.w3.org/2000/svg" width="1921" height="1270" fill="none" viewBox="0 0 1921 1270">
        <image width="100%" height="1125" x="0" y="144" href="./assets/images/developer/bottom-img.jpg" preserveAspectRatio="xMidYMid slice"></image>
        <g class="frame__Frame" clip-path="url(#frame__a)">
          <path fill="url(#frame__b)" d="M1920 736H0V140h1920v596Z" class="frame__Vector"/>
          <path fill="url(#frame__c)" d="M1920 966H0v304h1920V966Z" class="frame__Vector"/>
          <path fill="#fff" d="M1 1269.41V1115h68.971c17.685 0 31.833 4.71 41.855 13.56 10.021 8.84 15.327 20.62 15.327 35.95 0 12.37-3.537 22.39-10.022 30.05-6.484 7.66-15.327 13.56-27.117 16.5l41.855 58.35h-31.833l-38.318-53.63H28.117v53.63H1Zm27.117-77.79h39.496c9.432 0 17.685-2.36 22.99-7.08 5.896-4.71 8.843-11.19 8.843-19.44 0-8.26-2.947-14.74-8.253-18.86-5.305-4.13-13.558-6.49-23.58-6.49H28.117v51.87ZM255.074 1115h-27.117v154.41h27.117V1115Zm157.985 155-63.665-155h30.064l45.981 118.46 46.57-118.46h29.475l-64.255 155h-24.17Zm180.978-.59V1115H708.4v24.16h-87.246v40.08h77.225v24.16h-77.225v41.26h88.425v24.75H594.037Zm213.399 0V1115h68.971c17.685 0 31.833 4.71 41.854 13.56 10.022 8.84 15.327 20.62 15.327 35.95 0 12.37-3.537 22.39-10.021 30.05-6.485 7.66-15.327 13.56-27.117 16.5l41.854 58.35h-31.833l-38.317-53.63h-33.602v53.63h-27.116Zm27.116-77.79h39.497c9.432 0 17.685-2.36 22.99-7.08 5.895-4.71 8.843-11.19 8.843-19.44 0-8.26-2.948-14.74-8.253-18.86-5.306-4.13-13.559-6.49-23.58-6.49h-39.497v51.87ZM1083.91 1270l-64.25-155h30.06l46.57 118.46 46.57-118.46h28.89l-63.67 155h-24.17Zm209.27-155h-27.11v154.41h27.11V1115Zm107.29 154.41V1115h27.12v129.66h81.35v24.75h-108.47Zm202.79 0V1115h27.12v129.66h80.76v24.75h-107.88Zm202.2 0V1115h114.36v24.16h-87.24v40.08h77.22v24.16h-77.22v41.26H1921v24.75h-115.54Z" class="frame__Vector"/>
          <path fill="#E4E4EC" d="M1920 140H0V72l102-36.5 71 4.5 155 73.5c21-3 63.5-9 65.5-9s48.167-18.333 71-27.5l69-32.5L588 32h64c44 24 132.5 72.1 134.5 72.5 2.5.5 74.5 9 78 9 2.8 0 33.833-13.334 49-20l71.5-49 96.5-18.5 62.5 18.5 110 52 88 17L1447.5 52l99.5-26c34.67 8.167 104.6 24.8 107 26 3 1.5 116 51 120 51h71l75-38v75Z" class="frame__Vector"/>
          <g class="frame__Clip frame__path frame__group">
            <mask id="frame__d" width="1920" height="140" x="0" y="0" class="frame__d" maskUnits="userSpaceOnUse" style="mask-type:luminance">
              <g class="frame__clip0_613">
                <path fill="#fff" d="M1920 0H0v140h1920V0Z" class="frame__Vector"/>
              </g>
            </mask>
            <g class="frame__Group" mask="url(#frame__d)">
              <path fill="#fff" d="M8.413 94.913C37.638 74.634 67.75 62.016 96.974 57.06c52.694-8.563 91.218 13.97 132.399 37.404 43.395 25.237 92.989 54.078 161.181 42.812 28.339-4.507 52.693-14.872 74.391-31.095L480 96.265V45.792L441.476 71.03l-1.328.901c-16.384 12.168-34.539 19.829-56.237 23.434-53.579 8.563-92.546-13.97-133.726-37.855C206.79 32.273 158.081 3.882 90.332 14.697 59.78 19.655 29.668 31.372 0 49.398v50.924l7.97-4.957.443-.45Zm960-8.223c29.225-20.278 59.337-32.897 88.557-37.854 52.7-8.562 91.22 13.97 132.4 37.404 43.4 25.237 92.99 54.078 161.18 42.812 28.34-4.506 52.7-14.871 74.39-31.095l15.06-9.914V37.57l-38.52 25.236-1.33.902c-16.39 12.167-34.54 19.828-56.24 23.433-53.58 8.563-92.54-13.97-133.73-37.854-43.39-25.237-92.1-53.628-159.85-42.812-30.55 4.957-60.662 16.674-90.33 34.7V92.1l7.97-4.958.443-.45Zm-480 4.112c29.225-20.28 59.336-32.897 88.561-37.855 52.694-8.562 91.218 13.97 132.399 37.404 43.395 25.237 92.989 54.079 161.181 42.812 28.339-4.506 52.693-14.871 74.391-31.094L960 92.154V41.681l-38.524 25.237-1.328.9c-16.384 12.169-34.539 19.83-56.237 23.435-53.579 8.562-92.546-13.97-133.726-37.855C686.79 28.162 638.081-.229 570.332 10.586c-30.553 4.957-60.664 16.674-90.332 34.7V96.21l7.97-4.957.443-.45Zm959.997-8.222c29.23-20.28 59.34-32.898 88.56-37.855 52.7-8.563 91.22 13.97 132.4 37.404 43.4 25.236 92.99 54.078 161.18 42.812 28.34-4.507 52.7-14.872 74.39-31.095L1920 83.93V33.46l-38.52 25.236-1.33.901c-16.39 12.168-34.54 19.829-56.24 23.434-53.58 8.563-92.54-13.97-133.73-37.855-43.39-25.236-92.1-53.627-159.85-42.811-30.55 4.957-60.66 16.674-90.33 34.7v50.923l7.97-4.957.44-.45Z" class="frame__Vector"/>
            </g>
          </g>
        </g>
        <defs>
          <linearGradient id="frame__b" x1="1000.98" x2="1000.98" y1="140" y2="736" class="frame__b" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E4E4EC"/>
            <stop offset=".47" stop-color="#E4E4EC" stop-opacity=".8"/>
            <stop offset="1" stop-color="#E4E4EC" stop-opacity="0"/>
          </linearGradient>
          <linearGradient id="frame__c" x1="1000.98" x2="1000.98" y1="1270" y2="966" class="frame__c" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E4E4EC"/>
            <stop offset=".4" stop-color="#E4E4EC" stop-opacity=".8"/>
            <stop offset="1" stop-color="#E4E4EC" stop-opacity="0"/>
          </linearGradient>
          <clipPath id="frame__a" class="frame__a">
            <path fill="#fff" d="M0 0h1921v1270H0z"/>
          </clipPath>
        </defs>
      </svg>
      <svg class="developer-block__wave-svg show-on-tablet"  xmlns="http://www.w3.org/2000/svg" width="768" height="1026" fill="none" viewBox="0 0 768 1026">
        <image width="100%" height="1026" x="0" y="80" href="./assets/images/developer/bottom-img-tablet.jpg" preserveAspectRatio="xMidYMid slice"></image>
        <g class="group-4__Group group-4__4">
          <g class="group-4__Group group-4__3">
            <path fill="url(#group-4__a)" d="M0 0h768v500H0z" class="group-4__Gradient" transform="matrix(1 0 0 -1 0 606)"/>
            <path fill="url(#group-4__b)" d="M0 722h768v304H0z" class="group-4__Gradient"/>
            <g class="group-4__Riverville">
              <path fill="#fff" d="M0 1025.76V964h27.589c7.074 0 12.733 1.886 16.741 5.422 4.009 3.536 6.131 8.251 6.131 14.38 0 4.951-1.415 8.958-4.008 12.023-2.594 3.065-6.131 5.425-10.847 6.605l16.741 23.33H39.614l-15.327-21.45h-13.44v21.45H0Zm10.847-31.114h15.798c3.773 0 7.074-.943 9.197-2.829 2.358-1.885 3.537-4.479 3.537-7.779s-1.18-5.894-3.302-7.544c-2.122-1.65-5.423-2.593-9.432-2.593H10.847v20.745ZM101.63 964H90.783v61.76h10.847V964Zm63.194 62-25.466-62h12.025l18.393 47.38L188.404 964h11.79l-25.702 62h-9.668Zm72.391-.24V964h45.745v9.665h-34.898v16.031h30.889v9.665h-30.889v16.499h35.37v9.9h-46.217Zm85.359 0V964h27.589c7.074 0 12.733 1.886 16.742 5.422 4.008 3.536 6.13 8.251 6.13 14.38 0 4.951-1.414 8.958-4.008 12.023-2.594 3.065-6.131 5.425-10.847 6.605l16.742 23.33h-12.733l-15.327-21.45h-13.441v21.45h-10.847Zm10.847-31.114h15.799c3.772 0 7.074-.943 9.196-2.829 2.358-1.885 3.537-4.479 3.537-7.779s-1.179-5.894-3.301-7.544c-2.123-1.65-5.424-2.593-9.432-2.593h-15.799v20.745ZM433.164 1026l-25.702-62h12.026l18.628 47.38L456.744 964h11.554l-25.466 62h-9.668Zm83.709-62h-10.847v61.76h10.847V964Zm42.915 61.76V964h10.847v51.86h32.541v9.9h-43.388Zm81.116 0V964h10.846v51.86h32.305v9.9h-43.151Zm80.879 0V964h45.745v9.665H732.63v16.031h30.89v9.665h-30.89v16.499H768v9.9h-46.217Z" class="group-4__Vector"/>
            </g>
          </g>
          <g class="group-4__BG" clip-path="url(#group-4__c)">
            <path fill="#E4E4EC" d="M1458.81 106H0V54.334L77.5 26.6l53.945 3.419 117.769 55.845c15.955-2.28 48.247-6.838 49.766-6.838 1.52 0 36.597-13.93 53.946-20.895l52.426-24.693 41.409-9.497h48.627c33.431 18.235 100.673 54.781 102.193 55.085 1.899.38 56.605 6.838 59.264 6.838 2.128 0 25.707-10.13 37.23-15.196l54.326-37.23 73.32-14.056 47.488 14.056 83.577 39.51 66.864 12.916 80.16-46.727 75.6-19.755c26.34 6.205 79.47 18.843 81.3 19.755 2.27 1.14 88.13 38.75 91.17 38.75h53.95l56.98-28.873V106Z" class="group-4__Vector group-4__796"/>
            <g class="group-4__Wave" clip-path="url(#group-4__d)">
              <path fill="#fff" d="M6.392 71.744c22.206-15.408 45.084-24.996 67.289-28.762 40.036-6.506 69.307 10.614 100.596 28.42 32.971 19.174 70.653 41.088 122.465 32.528 21.532-3.424 40.036-11.3 56.522-23.626l11.439-7.533V34.42l-29.271 19.175-1.009.685c-12.448 9.245-26.242 15.066-42.728 17.805-40.709 6.506-70.316-10.614-101.605-28.762C157.118 24.15 120.11 2.578 68.634 10.796 45.42 14.562 22.542 23.465 0 37.16v38.692l6.056-3.767.336-.342Zm729.406-6.248c22.205-15.408 45.083-24.996 67.289-28.762 40.036-6.506 69.307 10.614 100.596 28.42 32.971 19.174 70.652 41.088 122.467 32.528 21.53-3.424 40.03-11.3 56.52-23.626l11.44-7.533v-38.35l-29.27 19.175-1.01.685c-12.45 9.245-26.24 15.066-42.73 17.805-40.709 6.506-70.316-10.614-101.605-28.762C886.524 17.901 849.515-3.67 798.04 4.548c-23.215 3.766-46.093 12.669-68.634 26.365v38.692l6.056-3.767.336-.342Z" class="group-4__Wave"/>
              <path fill="#fff" d="M371.095 68.62c22.205-15.408 45.083-24.995 67.289-28.761 40.036-6.506 69.307 10.614 100.596 28.42 32.971 19.174 70.653 41.088 122.465 32.528 21.532-3.424 40.036-11.3 56.522-23.626l11.439-7.533v-38.35l-29.271 19.175-1.009.685c-12.448 9.245-26.242 15.066-42.728 17.805-40.71 6.506-70.316-10.614-101.605-28.762-32.972-19.175-69.98-40.746-121.456-32.528-23.214 3.766-46.093 12.669-68.634 26.365V72.73l6.056-3.767.336-.342Z" class="group-4__Wave"/>
            </g>
          </g>
        </g>
        <defs>
          <linearGradient id="group-4__a" x1="400.391" x2="400.391" y1="500" y2="0" class="group-4__a" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E4E4EC"/>
            <stop offset=".47" stop-color="#E4E4EC" stop-opacity=".8"/>
            <stop offset="1" stop-color="#E4E4EC" stop-opacity="0"/>
          </linearGradient>
          <linearGradient id="group-4__b" x1="400.391" x2="400.391" y1="1026" y2="722" class="group-4__b" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E4E4EC"/>
            <stop offset=".4" stop-color="#E4E4EC" stop-opacity=".8"/>
            <stop offset="1" stop-color="#E4E4EC" stop-opacity="0"/>
          </linearGradient>
          <clipPath id="group-4__c" class="group-4__c">
            <path fill="#fff" d="M0 0h768v106H0z"/>
          </clipPath>
          <clipPath id="group-4__d" class="group-4__d">
            <path fill="#fff" d="M0-.371h1458.81v106.372H0z"/>
          </clipPath>
        </defs>
      </svg>
      <svg class="developer-block__wave-svg show-on-mobile"    xmlns="http://www.w3.org/2000/svg" width="375" height="672" fill="none" viewBox="0 0 375 672">
        <image width="100%" height="672" x="0" y="40" href="./assets/images/developer/bottom-img-mobile.jpg" preserveAspectRatio="xMidYMid slice"></image>
        <g class="dev-dev-dev__dev-dev-dev">
          <g class="dev-dev-dev__BG" clip-path="url(#dev-dev-dev__a)">
            <g class="dev-dev-dev__Group dev-dev-dev__6">
              <path fill="#E4E4EC" d="M712 52H0V26.35l37.825-13.767 26.33 1.698 57.478 27.723c7.788-1.131 23.548-3.394 24.29-3.394.742 0 17.862-6.916 26.329-10.373l25.588-12.259 20.21-4.715h23.733C258.1 20.316 290.919 38.46 291.66 38.61c.927.188 27.628 3.394 28.925 3.394 1.039 0 12.547-5.029 18.171-7.543l26.515-18.483L401.056 9l23.177 6.978 40.792 19.614 32.633 6.412 39.123-23.197L573.679 9c12.856 3.08 38.789 9.354 39.679 9.807 1.113.566 43.017 19.237 44.5 19.237h26.33L712 23.71V52Z" class="dev-dev-dev__Vector dev-dev-dev__796"/>
              <g class="dev-dev-dev__Wave" clip-path="url(#dev-dev-dev__b)">
                <path fill="#fff" d="M3.121 35.213c10.843-7.524 22.014-12.205 32.856-14.044 19.549-3.177 33.841 5.183 49.12 13.877 16.098 9.362 34.498 20.062 59.796 15.883 10.514-1.672 19.549-5.518 27.599-11.537l5.586-3.678V16.99l-14.293 9.363-.492.334c-6.079 4.514-12.814 7.356-20.864 8.694-19.877 3.176-34.334-5.183-49.612-14.044-16.1-9.363-34.17-19.896-59.304-15.883C22.178 7.293 11.007 11.639 0 18.327v18.892l2.957-1.84.164-.166Zm356.156-3.051c10.842-7.524 22.013-12.205 32.855-14.044 19.549-3.176 33.842 5.183 49.119 13.877 16.1 9.362 34.499 20.062 59.798 15.883 10.513-1.672 19.549-5.517 27.598-11.536l5.586-3.678V13.938l-14.292 9.363-.493.334c-6.078 4.514-12.814 7.357-20.864 8.694-19.877 3.177-34.334-5.183-49.612-14.044-16.099-9.362-34.169-19.895-59.304-15.883-11.335 1.84-22.506 6.186-33.513 12.874v18.892l2.957-1.839.165-.167Z" class="dev-dev-dev__Wave"/>
                <path fill="#fff" d="M181.199 33.687c10.842-7.523 22.013-12.204 32.856-14.044 19.549-3.176 33.841 5.183 49.119 13.877 16.099 9.363 34.498 20.063 59.797 15.883 10.514-1.672 19.549-5.517 27.599-11.536l5.585-3.678V15.464l-14.292 9.362-.493.335c-6.078 4.514-12.814 7.356-20.863 8.694-19.878 3.176-34.334-5.183-49.612-14.044-16.099-9.363-34.17-19.896-59.305-15.883-11.335 1.839-22.506 6.186-33.512 12.873v18.893l2.957-1.84.164-.167Z" class="dev-dev-dev__Wave"/>
              </g>
            </g>
          </g>
          <path fill="url(#dev-dev-dev__c)" d="M0 0h375v320H0z" class="dev-dev-dev__Gradient" transform="matrix(1 0 0 -1 0 371)"/>
          <path fill="url(#dev-dev-dev__d)" d="M0 522h375v150H0z" class="dev-dev-dev__Gradient"/>
          <g class="dev-dev-dev__Riverville">
            <path fill="#fff" d="M0 671.886V642h13.471c3.454 0 6.217.913 8.175 2.624 1.957 1.711 2.993 3.992 2.993 6.958 0 2.395-.69 4.334-1.957 5.817-1.267 1.483-2.994 2.624-5.296 3.194l8.174 11.293h-6.217l-7.484-10.38H5.296v10.38H0Zm5.296-15.057h7.714c1.843 0 3.455-.456 4.49-1.369 1.152-.912 1.728-2.167 1.728-3.764s-.576-2.852-1.612-3.65c-1.036-.799-2.648-1.255-4.606-1.255H5.296v10.038ZM49.624 642h-5.296v29.886h5.296V642Zm30.856 30-12.434-30h5.872l8.98 22.928L91.995 642h5.757l-12.55 30h-4.72Zm35.348-.114V642h22.336v4.677h-17.04v7.756h15.083v4.677h-15.083v7.985h17.27v4.791h-22.566Zm41.679 0V642h13.471c3.454 0 6.217.913 8.175 2.624 1.957 1.711 2.993 3.992 2.993 6.958 0 2.395-.691 4.334-1.957 5.817-1.267 1.483-2.994 2.624-5.297 3.194l8.175 11.293h-6.217l-7.484-10.38h-6.563v10.38h-5.296Zm5.296-15.057h7.714c1.842 0 3.454-.456 4.491-1.369 1.151-.912 1.727-2.167 1.727-3.764s-.576-2.852-1.612-3.65c-1.036-.799-2.648-1.255-4.606-1.255h-7.714v10.038ZM211.506 672l-12.549-30h5.871l9.096 22.928L223.02 642h5.642l-12.435 30h-4.721Zm40.873-30h-5.296v29.886h5.296V642Zm20.955 29.886V642h5.296v25.095h15.889v4.791h-21.185Zm39.607 0V642h5.296v25.095h15.774v4.791h-21.07Zm39.492 0V642h22.337v4.677h-17.041v7.756h15.083v4.677h-15.083v7.985H375v4.791h-22.567Z" class="dev-dev-dev__Vector"/>
          </g>
        </g>
        <defs>
          <linearGradient id="dev-dev-dev__c" x1="195.504" x2="195.504" y1="320" y2="0" class="dev-dev-dev__c" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E4E4EC"/>
            <stop offset=".47" stop-color="#E4E4EC" stop-opacity=".8"/>
            <stop offset="1" stop-color="#E4E4EC" stop-opacity="0"/>
          </linearGradient>
          <linearGradient id="dev-dev-dev__d" x1="195.504" x2="195.504" y1="672" y2="522" class="dev-dev-dev__d" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E4E4EC"/>
            <stop offset=".4" stop-color="#E4E4EC" stop-opacity=".8"/>
            <stop offset="1" stop-color="#E4E4EC" stop-opacity="0"/>
          </linearGradient>
          <clipPath id="dev-dev-dev__a" class="dev-dev-dev__a">
            <path fill="#fff" d="M0 0h375v52H0z"/>
          </clipPath>
          <clipPath id="dev-dev-dev__b" class="dev-dev-dev__b">
            <path fill="#fff" d="M0 0h712v52H0z"/>
          </clipPath>
        </defs>
      </svg>


      .developer-block__bottom-text
        .text-style-1920-h-4(data-split-lines-and-fade-up) Ми маємо власну матеріально-технічну базу та будуємо нерухомість згідно з європейськими стандартами якості, безпеки та комфорту
        <a href="/3d" class="button-30 button-30--blue">
          <span>Перейти до вибору квартир</span>
        </a>

  include ../includes/contact-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
