.home-double-screen
  .home-double-screen__bg
    img(src="./assets/images/home/double-block-bg.jpg", alt="", srcset="" data-bg-paralax loading="lazy")
  div#documents
    .home-double-screen__title1.text-style-1920-h-1(data-split-lines) Документи
    table.home-double-screen__table
      tr
        td.text-style-1920-h-2.home-double-screen__table-dot 
          div 
            span Договір на землю 
            span .PDF
        td
          a(href="#").home-double-screen__table-link.text-style-1920-button
            span ЗАВАНТАЖИТИ
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.472 15.7674L15.6184 11.621L16.3255 12.3281L11.3255 17.3281L10.972 17.6816L10.6184 17.3281L5.61841 12.3281L6.32551 11.621L10.472 15.7674L10.472 6.97453L11.472 6.97453L11.472 15.7674Z" fill="#EFF0F7"/>
            </svg>


      tr 
        td.text-style-1920-h-2.home-double-screen__table-dot 
          div 
            span Містобудівні умови та обмеження 
            span .PDF
        td
          a(href="#").home-double-screen__table-link.text-style-1920-button
            span ЗАВАНТАЖИТИ
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.472 15.7674L15.6184 11.621L16.3255 12.3281L11.3255 17.3281L10.972 17.6816L10.6184 17.3281L5.61841 12.3281L6.32551 11.621L10.472 15.7674L10.472 6.97453L11.472 6.97453L11.472 15.7674Z" fill="#EFF0F7"/>
            </svg>

      tr 
        td.text-style-1920-h-2.home-double-screen__table-dot 
          div 
            span Дозвіл на підготовчі роботи 
            span .PDF
        td
          a(href="#").home-double-screen__table-link.text-style-1920-button
            span ЗАВАНТАЖИТИ
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.472 15.7674L15.6184 11.621L16.3255 12.3281L11.3255 17.3281L10.972 17.6816L10.6184 17.3281L5.61841 12.3281L6.32551 11.621L10.472 15.7674L10.472 6.97453L11.472 6.97453L11.472 15.7674Z" fill="#EFF0F7"/>
            </svg>

      tr 
        td.text-style-1920-h-2.home-double-screen__table-dot 
          div 
            span Дозвіл на будівництво 
            span .PDF
        td
          a(href="#").home-double-screen__table-link.text-style-1920-button
            span ЗАВАНТАЖИТИ
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.472 15.7674L15.6184 11.621L16.3255 12.3281L11.3255 17.3281L10.972 17.6816L10.6184 17.3281L5.61841 12.3281L6.32551 11.621L10.472 15.7674L10.472 6.97453L11.472 6.97453L11.472 15.7674Z" fill="#EFF0F7"/>
            </svg>
  div#developer
    .home-double-screen__title2.text-style-1920-h-1(data-split-lines) забудовник
    .home-double-screen__text-wrap
      div.text-color-body-description За понад 30 років діяльності ми реалізували численні проєкти будівництва та реконструкції в Україні й за кордоном – у Відні, Варшаві й Нюрнберзі. Наразі TVD успішно зводить житлові, офісні та складські приміщення, а також магазини, кафе, ресторани, готелі, заклади освіти, охорони здоров’я й спортивні комплекси.
      div.text-color-body-description Завдяки великому досвіду, сучасним технологіям і власним ресурсам ми забезпечуємо повний цикл будівництва – від проєктування до введення об’єктів в експлуатацію. TVD – це динамічна структура, що об’єднує декілька підприємств у різних сегментах галузі: столярне виробництво, виготовлення металевих виробів, логістику та послуги на ринку оренди будівельної техніки. Такий багатовекторний підхід дає змогу максимально ефективно реалізовувати проєкти різного рівня складності.
      div.text-color-body-description Постійно вдосконалюючи будівельні процеси й інвестуючи в новітні технології, ми залишаємося надійним партнером для тих, хто шукає житло, що відповідає сучасним вимогам. Обираючи нерухомість від TVD, ви обираєте перевірену якість, інноваційний підхід та надійне будівництво, що витримує випробування часом.
      img(src="./assets/images/home/developer/developer1.png", alt="", srcset="").home-double-screen__developer-image
      a(href="https://tvd.ua/", target="_blank", rel="noopener noreferrer").developer-link
        <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M29.2279 18.565L17.7071 18.565L17.7071 17.565L30.435 17.565H30.935L30.935 18.065L30.935 30.7929L29.935 30.7929L29.935 19.2721L18.0607 31.1464L17.3536 30.4393L29.2279 18.565Z" fill="#E0DD00"/>
        </svg>
        span ВІДВІДАТИ САЙТ
      img(src="./assets/images/home/developer/developer2.png", alt="", srcset="").home-double-screen__developer-image