.home-about-screen.g_side_padding.g_v_padding
  .home-about-screen__content#about
    .home-about-screen__text
      .text-style-1920-h-1(data-split-lines) Про проєкт
      .text-style-1920-h-2(data-split-lines) простір, де ваші мрії знаходять свій дім, а затишок і комфорт стають частиною повсякденного життя.
      .home-about-screen__label
        .home-about-screen__label-icon
          <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.083 9.30044C42.4672 9.69719 42.457 10.3303 42.0603 10.7145L32.5098 19.9628C32.2664 20.1985 31.9203 20.2949 31.5901 20.219C31.2599 20.1431 30.9906 19.9051 30.8746 19.5868C30.8171 19.4291 30.6401 19.1024 30.3352 18.6384C30.0456 18.1975 29.6829 17.6955 29.3077 17.2098C28.9324 16.7239 28.5537 16.266 28.2342 15.9117C28.074 15.7341 27.9358 15.5904 27.8253 15.4852C27.7206 15.3855 27.6733 15.3519 27.6738 15.3513C27.6739 15.3511 27.676 15.3523 27.6799 15.3546C27.2024 15.0772 27.0402 14.4651 27.3177 13.9876C27.5951 13.5101 28.2071 13.3479 28.6847 13.6253C28.8763 13.7367 29.0605 13.8997 29.2046 14.0369C29.3641 14.1889 29.5391 14.3724 29.7194 14.5723C30.0808 14.9731 30.4924 15.4718 30.8905 15.9872C31.2888 16.5029 31.6828 17.0471 32.0068 17.5403C32.0236 17.5659 32.0403 17.5915 32.057 17.6172L40.669 9.27772C41.0657 8.89352 41.6988 8.90369 42.083 9.30044ZM43.2223 15.1417C44.6986 13.7121 47.043 13.7121 48.5193 15.1417C50.0643 16.6377 50.0643 19.1156 48.5193 20.6117L43.1319 25.8287C43.566 25.9895 43.974 26.2408 44.3267 26.5824C45.0304 27.2638 45.3797 28.1724 45.3721 29.0793C46.294 29.0548 47.2235 29.3875 47.9361 30.0775C48.6762 30.7943 49.0372 31.7549 49.0152 32.7094C49.9849 32.6697 50.9673 33.0129 51.7171 33.739C53.2045 35.1793 53.2073 37.5646 51.7185 39.0062L42.5983 47.8379C42.2006 48.2231 41.5774 48.6287 40.9166 49.0123C40.2336 49.4087 39.4296 49.8268 38.613 50.2304C37.4631 50.7988 36.2636 51.3504 35.3044 51.7852C35.8011 53.0128 35.5421 54.4755 34.5275 55.458L31.1647 58.7145C30.7679 59.0987 30.1348 59.0885 29.7506 58.6917C29.3665 58.295 29.3766 57.6619 29.7734 57.2777L33.1362 54.0213C33.6869 53.488 33.6869 52.6046 33.1362 52.0713L21.5008 40.804C20.6889 40.0178 19.3996 40.0178 18.5877 40.804L15.6957 43.6046C15.2989 43.9888 14.6658 43.9786 14.2816 43.5818C13.8974 43.1851 13.9076 42.552 14.3043 42.1678L17.1964 39.3673C18.2656 38.3319 19.7583 37.9939 21.104 38.3533C21.0971 36.4532 21.4197 34.9544 21.9197 32.6314C21.9326 32.5717 21.9456 32.5114 21.9587 32.4506C22.5461 29.72 21.5034 26.126 18.6923 22.9707C17.9269 22.1116 17.4088 21.3449 17.2037 20.6467C17.0962 20.2808 17.0606 19.8865 17.1654 19.4951C17.273 19.0929 17.5055 18.7815 17.7853 18.5557C18.2936 18.1455 18.9778 18.0015 19.5235 17.9335C20.107 17.8609 20.752 17.8536 21.3221 17.8536C24.0839 17.8536 26.3285 19.8856 27.9308 22.043C29.1617 23.7001 30.1352 25.5922 30.7962 27.1746L43.2223 15.1417ZM23.1599 39.6265L34.0396 50.1621C35.0515 49.7053 36.4231 49.0819 37.7268 48.4375C38.5243 48.0433 39.2841 47.6473 39.9126 47.2825C40.5633 46.9049 40.9994 46.6022 41.207 46.4012L50.3272 37.5695C51.003 36.9151 51.003 35.8315 50.3258 35.1758C49.6795 34.5499 48.6531 34.5498 48.0067 35.1757L46.822 36.3226C46.4293 36.7028 45.8043 36.6973 45.4183 36.3103C45.0324 35.9234 45.0286 35.2983 45.4098 34.9067L46.5772 33.7074C47.1749 33.0933 47.1604 32.1105 46.5448 31.5143C45.9442 30.9327 44.9902 30.9326 44.3895 31.5142L42.9884 32.8707C42.5946 33.2521 41.9672 33.2453 41.5818 32.8555C41.1963 32.4658 41.1965 31.8384 41.5821 31.4488L42.957 30.0601C43.519 29.4923 43.5093 28.5749 42.9354 28.0192C42.3885 27.4895 41.5231 27.4791 40.9636 27.9954L39.4736 29.3703C39.0711 29.7417 38.4448 29.7203 38.0687 29.3223C37.6925 28.9243 37.7064 28.2979 38.0998 27.9169L41.207 24.9087L41.2071 24.9086L47.128 19.175C47.8614 18.4648 47.8614 17.2886 47.128 16.5784C46.4272 15.8998 45.3144 15.8998 44.6136 16.5784L31.0974 29.667C30.8512 29.9054 30.5001 30.0011 30.167 29.9207C29.8339 29.8402 29.5652 29.5948 29.4549 29.2703C28.9076 27.6594 27.8104 25.2351 26.3253 23.2355C24.8035 21.1867 23.0799 19.8536 21.3221 19.8536C20.7489 19.8536 20.2169 19.8626 19.7706 19.9182C19.4215 19.9617 19.2209 20.0238 19.1187 20.0691C19.1199 20.0735 19.1212 20.0781 19.1226 20.0829C19.1991 20.3434 19.4714 20.8386 20.1856 21.6402C23.293 25.1281 24.6716 29.3495 23.9139 32.8713L23.891 32.9776C23.2663 35.8811 22.9707 37.2548 23.1599 39.6265Z" fill="#1A1A1D"/>
          </svg>
        .text-color-black.home-about-screen__label-text Всього в 10 хвилинах від центру Львова, неподалік трьох мальовничих парків, у серці історичної місцевості, квітне житловий квартал “Софіївка”.
      .home-about-screen__label
        .home-about-screen__label-icon
          <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.9071 13.0212L56.6732 17.7483V22.9029L33.9075 24.7231L11 22.9025V17.7493L33.9071 13.0212Z" stroke="#1A1A1D" stroke-width="2"/>
            <path d="M11 31.7099V30.6649L33.9076 29.2519L56.6732 30.6646V31.7099V35.1415V36.1596L33.9076 37.5995L11 36.1593V35.1415V31.7099Z" stroke="#1A1A1D" stroke-width="2"/>
            <path d="M56.6732 49.2748L33.9072 54.002L11 49.2739V44.1207L33.9075 42.3L56.6732 44.1202V49.2748Z" stroke="#1A1A1D" stroke-width="2"/>
          </svg>
        .text-color-black.home-about-screen__label-text Тут гармонійно поєдналися всі ключові складові комфортного житла: функціональна архітектура, розвинута інфраструктура, зручне транспортне сполучення та стале ком'юніті однодумців. 
      button(type="button" data-build-popup-open).button-main
        span Дивитись статус усіх черг
    .home-about-screen__img-wrap
      .home-about-screen__img
        <picture>
          <source srcset="./assets/images/home/home-about-screen.jpg" media="(min-width: 601px)">
          <source srcset="./assets/images/home/home-about-screen@075.jpg" media="(max-width: 600px)">
          <img src="#", alt="", srcset="" loading="lazy"/>
        </picture>
    .block-style-column(data-mobile-image-swipe data-lenis-prevent)
      <div class="block-style-column__info-wrapper block-style-column__info-wrapper--mobile">
        <div class="block-style-column__nav">
          <svg class="block-style-column__mobile-slider" data-mobile-image-swipe-svg  width="351" height="60" viewBox="0 0 351 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="29.5" stroke="#EFF0F7" stroke-dasharray="1 4"/>
            <circle cx="321" cy="30" r="29.5" stroke="#EFF0F7" stroke-dasharray="1 4"/>
            <rect x="60.25" y="29.75" width="230.5" height="0.5" stroke="#EFF0F7" stroke-width="0.5" stroke-dasharray="1 4"/>
            <g class="swipe" data-mobile-image-swipe-icon>
              <circle cx="30" cy="30" r="30" fill="url(#paint0_linear_438_3395)"/>
              <path d="M40.6721 18.7343H33.5572C33.23 18.7343 32.9643 18.9999 32.9643 19.3272C32.9643 19.6545 33.23 19.9201 33.5572 19.9201H40.6721C40.9994 19.9201 41.265 19.6545 41.265 19.3272C41.265 18.9999 40.9994 18.7343 40.6721 18.7343Z" fill="#1A1A1D"/>
              <path d="M41.0924 18.9086L38.7207 16.5369C38.4895 16.3057 38.1136 16.3057 37.8823 16.5369C37.6511 16.7682 37.6511 17.1441 37.8823 17.3753L39.8342 19.3272L37.8812 21.2802C37.6499 21.5115 37.6499 21.8874 37.8812 22.1186C37.9974 22.2336 38.1491 22.2918 38.3009 22.2918C38.4527 22.2918 38.6045 22.2337 38.7207 22.1186L41.0924 19.747C41.3236 19.5157 41.3236 19.1398 41.0924 18.9086Z" fill="#1A1A1D"/>
              <path d="M25.2566 18.7343H18.1418C17.8145 18.7343 17.5488 18.9999 17.5488 19.3272C17.5488 19.6545 17.8145 19.9201 18.1418 19.9201H25.2566C25.5839 19.9201 25.8495 19.6545 25.8495 19.3272C25.8495 18.9999 25.5839 18.7343 25.2566 18.7343Z" fill="#1A1A1D"/>
              <path d="M18.9804 19.3272L20.9322 17.3753C21.1635 17.1441 21.1635 16.7682 20.9322 16.5369C20.701 16.3057 20.3251 16.3057 20.0938 16.5369L17.7223 18.9086C17.491 19.1399 17.491 19.5158 17.7223 19.747L20.0939 22.1187C20.2101 22.2337 20.3619 22.2918 20.5137 22.2918C20.6655 22.2918 20.8172 22.2337 20.9323 22.1175C21.1635 21.8863 21.1635 21.5103 20.9323 21.2791L18.9804 19.3272Z" fill="#1A1A1D"/>
              <path d="M40.0796 28.2207C39.5922 28.2207 39.138 28.3689 38.7609 28.6215C38.436 27.699 37.555 27.0349 36.5222 27.0349C36.0348 27.0349 35.5806 27.1831 35.2035 27.4357C34.8786 26.5132 33.9975 25.8491 32.9647 25.8491C32.5331 25.8491 32.1276 25.9653 31.7789 26.1681V22.2917C31.7789 20.9837 30.7153 19.92 29.4073 19.92C28.0993 19.92 27.0357 20.9837 27.0357 22.2917V32.371L24.9747 30.8259C23.7534 29.9093 22.015 30.0315 20.9323 31.1129C20.2386 31.8066 20.2386 32.9343 20.9323 33.628L29.3765 42.0734C30.3844 43.0813 31.7256 43.6362 33.1509 43.6362H35.9293C39.5247 43.6362 42.4512 40.7109 42.4512 37.1143V30.5923C42.4512 29.2844 41.3875 28.2207 40.0796 28.2207ZM41.2654 37.1142C41.2654 40.0562 38.8713 42.4504 35.9293 42.4504H33.1509C32.041 42.4504 30.9987 42.0188 30.2149 41.2349L21.7707 32.7896C21.5395 32.5584 21.5395 32.1825 21.7707 31.9513C22.1383 31.5848 22.6292 31.3963 23.1226 31.3963C23.5234 31.3963 23.9265 31.5208 24.2645 31.7746L27.2729 34.0311C27.4532 34.1663 27.6951 34.1865 27.8943 34.0869C28.0947 33.9861 28.2216 33.7809 28.2216 33.5568V22.2917C28.2216 21.6383 28.7528 21.1059 29.4074 21.1059C30.0619 21.1059 30.5931 21.6383 30.5931 22.2917V31.1852C30.5931 31.5125 30.8588 31.7782 31.1861 31.7782C31.5133 31.7782 31.779 31.5125 31.779 31.1852V28.2207C31.779 27.5673 32.3102 27.035 32.9648 27.035C33.6193 27.035 34.1506 27.5674 34.1506 28.2207V31.1852C34.1506 31.5125 34.4162 31.7782 34.7435 31.7782C35.0708 31.7782 35.3364 31.5125 35.3364 31.1852V29.4065C35.3364 28.7531 35.8676 28.2207 36.5222 28.2207C37.1768 28.2207 37.708 28.7532 37.708 29.4065V31.1852C37.708 31.5125 37.9736 31.7782 38.3009 31.7782C38.6282 31.7782 38.8938 31.5125 38.8938 31.1852V30.5923C38.8938 29.9389 39.4251 29.4065 40.0796 29.4065C40.7342 29.4065 41.2654 29.939 41.2654 30.5923V37.1142Z" fill="#1A1A1D"/>
            </g>
            <defs>
              <linearGradient id="paint0_linear_438_3395" x1="5.72205e-06" y1="0" x2="70.172" y2="16.354" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E0DD00"/>
                <stop offset="1" stop-color="#7DB928"/>
              </linearGradient>
            </defs>
          </svg>
          <div class="block-style-column__title text-style-1920-button">Весь комплекс з висоти</div>
          <input type="range" name="aaaa" max="1083" data-mobile-image-swipe-input>
        </div>
        <div class="block-style-column__mobile-scroller" data-mobile-image-swipe-image>
          <img src="./assets/images/home/home-about-screen-mobile.jpg" alt="section-3-img" loading="lazy">
        </div>
      </div>