.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .35s ease-in-out;
    @include to(600px){
        height: calc(var(--vh, 1vh) * 100);
    }
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 30, 34, 0.70);
        z-index: -1;
    }
    &__content {
        height: 100%;
        border-bottom: 1px solid rgba(239, 240, 247, 0.20);
        background: rgba(30, 30, 34, 0.80);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        max-width: 1080px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 25px pxWidthInVw(120);
        overflow-y: auto;
        @include from(1025px){
            justify-content: center;
        }
        @include to(1620px){
            padding: 25px pxWidthInVw(80);
        }
        @include to(600px){
            justify-content: center;
            padding: 20px;
        }
    }
    &__link {
        @include text-style-1920-h-1;
        line-height: 120%;
        color: var(--color-white);
        flex-shrink: 0;
        @include from(1025px){
            font-size: min(6.4vh,60px);
        }
        &.active {
            color: var(--color-yellow);
            pointer-events: none;
        }
        @media (hover: hover) {
            position: relative;
            color: transparent;
            overflow: hidden;
            &:after {
                content: attr(data-title);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                color: var(--color-yellow);
                transition: .25s ease-in-out;
                pointer-events: none;
                line-height: 120%;
                transform: translate3d(0, -150%, 0);
            }
            &:before {
                content: attr(data-title);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                color: var(--color-white);
                transition: .25s ease-in-out;
                pointer-events: none;
                line-height: 120%;
                transform: translate3d(0, 0, 0);
            }
            &:hover:after {
                transform: translate3d(0, 0, 0);
            }
            &:hover:before {
                transform: translate3d(0, 100%, 0);
            }
        }
    }
    @include to(600px){
        &__link~&__link {
            margin-top: 12px;
        }
    }
    &__close {
        position: absolute;
        right: var(--page-side-fields);
        top: var(--page-side-fields);
        z-index: 2;
        @include to(1024px){
            top: 40px;
        }
        @include to(600px){
            top: 21px;
        }
        @media (hover: hover) {
            svg {
                transition: .25s ease-in-out;
                transform-origin: center;
                transform-box: fill-box;
            }
            &:hover svg {
                transform: rotate(180deg);
            }
        }
    }
    &__langs {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        a {
            color: var(--color-white);
            text-decoration: none;
            order: -1;
            &.non-active {
                opacity: 0.5;
                pointer-events: none;
                order: 1;
            }
        }
    }
}